#header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1001;
  padding: var(--padding);
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header-logo > * {
  display: inline-block;
}

#logo-icon {
  margin-right: 0.8rem;
  font-size: 2rem;
}

#logo-text {
  text-transform: uppercase;
}

#logo-text--1 {
  color: var(--clr-lm-text-header);
}

#logo-text > *:first-child {
  margin-right: 0.5rem;
}

#toggle-icon {
  font-size: 1.8rem;
}

#main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 3vw;
  display: flex;
  /* overflow: hidden; */
}

.edit,
.preview {
  position: relative;
  height: 80vh;
  display: inline-block;
  flex-basis: 45vw;
  flex-shrink: 1;
  flex-grow: 1;
  box-shadow: 5px 5px 15px #000000;
}

.edit-header,
.preview-header {
  position: absolute;
  height: 3.5rem;
  width: 100%;
  top: 0;
  z-index: 1001;
  padding: 0 1vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.edit-title,
.preview-title {
  text-transform: capitalize;
}

.edit-button-group {
  display: flex;
  align-items: center;
}

.edit-button-group > *:not(:last-child) {
  margin-right: 1.5rem;
}

.header-btn {
  font-size: 1.6rem;
}


.collapsing {
  -webkit-transition: none !important;
  transition: none !important;
  display: none !important;
}

.column {
  width: 3vw;
}
