#header {
    padding: var(--padding);
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-logo > * {
    display: inline-block;
}

#logo-icon {
    margin-right: .8rem;
}

#logo-text {
    text-transform: uppercase;
}

#logo-text--1 {
    color: var(--clr-lm-text-header);
}


#logo-text > *:first-child {
    margin-right: .5rem;
}


#toggle-icon {
    font-size: 1.8rem;
}

