@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

/*
===================
Variables
===================
*/

:root {
  /*lm -> light mode
    dm -> dark mode */
  --clr-light: #f8f6f8;
  --clr-lm-body: #87b5b5;
  --clr-dm-header: #264653;
  --clr-lm-text-header: #4aa3a3;
  --clr-dark: #000000;

  --padding: 0 3vw;
}

/*
****************
Global Styles
****************
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /*1 rem = 10px*/
}

body {
  height: 100vh;
  position: relative;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem !important;
}

button {
  background-color: unset;
  cursor: pointer;
  border: unset;
}

button:focus,
button:active,
button:visited {
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
